body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #000736;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgb(61, 3, 218);
    animation: RGB 5s infinite ease-in-out;
}

header img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2));
}

@keyframes RGB {
    0% {
        border-color: rgb(61, 3, 218);
    }
    20% {
        border-color: rgb(91, 208, 255); 
    }
    40% {
        border-color: rgb(0, 0, 255); 
    }
    60% {
        border-color: rgb(86, 77, 204); 
    }
    80% {
        border-color: rgb(0, 255, 255); 
    }
    100% {
        border-color: rgb(15, 58, 197); 
    }
} 

p {
    font-family: 'Barlow';
    font-weight: SemiBold;
}

h2 {
    font-family: 'Rubik';
    font-weight: 900;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
}

nav li {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Rubik', bold;
}

li ion-icon{
    margin-right: 5px;
    height: 21px;
}

li input {
    border-radius: 10px;
}

li button {
    border-radius: 6px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}


main section{
    align-items: center;
}

form input[type="text"],
form input[type="email"],
form textarea {

    margin-bottom: 10px;
    border: 1pxsolid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 150px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


ul.productos {
    display: flex;
    flex-wrap: wrap;
}

ul.productos li {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
}

ul.productos li:last-child {
    margin-right: 0;
}

ul.categorias li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.EscaTech-Logo {
  width: 215px;
  margin-left: 10px;
  display: inline-block;
}

.QuienesSomos {
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}
  
.QuienesSomos img {
    float: left;
    width: 40%; 
    padding: 20px;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 40px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
}
  
.QuienesSomos h2 {
    padding: 20px;
    margin: 0;
    height: auto;
    align-items: center;
}

.QuienesSomos p {
    padding-right: 20px;
    margin-top: 0px;
    text-align: justify;
    flex: 1;
}

.Productosdestacados {
    overflow: hidden;
    max-width: 1500px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 15px;
    
}

.Productosdestacados img {
    width: 250px;
    height: 250px; 
    border: 4px solid rgb(61, 3, 218);
    animation: RGB 5s infinite ease-in-out;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    margin-bottom: 8px;
}

.Productosdestacados ul {
    display: flex;
    align-items: center;
}

.Productosdestacados li {
    margin: 10px;
}

.Productosdestacados a {
    color: white;
}

.Productosdestacados button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}